<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navigation' %>
<%= render "layouts/messages" %>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
<script>
    window.fwSettings={
        'widget_id':5102639
    };
    !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
    FreshworksWidget('hide');
</script>
<script type='text/javascript' src='https://freshwidget.freshpo.com/widgets/5102639.js' async defer></script>
</body>
</html>
